        body{
            font-size: 23px;
            font-family: arial;
            padding-top: 15px;
            color:black;
            background: whitesmoke;
            margin: 12px;
            background:linear-gradient(to left, #fff,#444);
            text-align: center;
        }
      input {
           padding: 12px;
           margin:10px;
           font-size: 21px;
           background:linear-gradient(to left, #fff,#444);}
     ::placeholder{color:white;}
    button{
           padding:12px;
           margin:10px;
           cursor: pointer;
           font-size:23px;
           background:linear-gradient(to left, #fff,#444);
    } 